.container {
    background-color: rgba(58, 58, 58, 0.787);
    max-width: 600px;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
    color: #fff;
}

.contName {
    display: flex;
    padding: 10px;
}

.contWH {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input {
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d69c30;
    transition: .3s;
}

.input:hover,
.input:focus {
    border-bottom: 1px solid #d63030;
}

.button {
    max-width: 75px;
    height: 30px;
    margin: auto;
    border: none;
    border-radius: 5px;
    background: #d6a130;
    font-family: 'Dongle', sans-serif;
    font-size: 22px;
    transition: .3s ease;
}

.button:hover {
    background: #caab69;
}

.link {
    text-decoration: none;
    color: #000;
}

.noDogs {
}
