.paged {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgba(245, 168, 67, 0.952);
    border-radius: 10px;
}
.numbers {
    margin: 10px;
    padding: 10px;
    background: none;
    border: none;
    border-radius: 5px;
}

.active {
    background: rgb(95, 64, 29);
}

.numbers:hover{
    background: rgb(95, 64, 29);
}