.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.input {
    border: none;
    width: 0;
    background: none;
    transition: all .3s ease;
    font-size: 18px;
    color: #000;
    outline: none;
    height: 55px;
}

.search {
    background: rgba(255, 255, 255, 0.897);
    border-radius: 30px;
    padding: 10px;
}

.button {
    width: 55px;
    height: 55px;
    line-height: 55px;
    background: none;
    color: #000;
    border: none;
    border-radius: 30px;
    padding: 10px;
}

.img {
    max-width: 30px;
}

.search:hover > .input {
    width: 250px;
}

.input:focus {
    width: 250px;
}


